<div class="article-times">
  <span class="post-time">
      <span class="post-meta-item-text"> <%= __('post.time_count') %>: </span>
      <span id="<%= url_for(post.path) %>" class="leancloud_visitors" data-flag-title="<%- post.title %>"></span>
  </span>
</div>